.App {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: calc(10px + 1.5vmin);
  color: white;
  border: 1px solid white;
  justify-content: center;
}

#l {
  margin-left: 10px;
}
.mainpart {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
}

#cal {
  margin-bottom: 50px;
}

* {
  background-color: #282c34;
}

#cont {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 30px;
}

Form {
  padding-left: 200px;
  padding-top: 20px;
}

.App-link {
  color: #61dafb;
}

.mb-3 {
  font-size: large;
  width: 300px;
  text-align: left;
}

h1 {
  padding-top: 50px;
  color: #61dafb;
  display: flex;
  justify-content: center;
}

.label {
  margin-top: 40px;
}
